{% extends 'main.html' %}
{% load static%}
{% block content %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static '/css/Stylet.css' %}" />
    <link rel="stylesheet" href="{% static '/css/nav.css' %}">
    <link rel="stylesheet" href="{% static '/css/footer.css' %}">
    <title>doctor profile</title>
  </head>
  <body>
    <div class="doctor-details">
      <h2>Doctor Data </h2>
      <div class="cont-card">
        <div class="doctor-data">
          <h3>Dr.{{ doctordata.name }}</h3>
          <h4>email: {{doctordata.email}} </h4>
          <img src="{{doctordata.profile_pic.url}}" alt="">

        </div>
        <div class="doctor-info">
          <p>about:{{ doctordata.about }}</p>
          <p>phone: {{doctordata.phone}} </p>
          <p>ventPhone: {{doctordata.vent_phone}} </p>
        </div>
      </div>

      <h2>Booking Session</h2>
      <table class="booking-table">
        <thead>
          <tr>
            <th>Date</th>
            <th>Time</th>
            <th>duration</th>
            <th>Book</th>
          </tr>
        </thead>
        <tbody>
          {% for session in sessions %}
        <tr>
          <td>{{ session.startsession |date:"Y-M-D" }}</td>
          <td>{{ session.startsession }}</td>
          <td>{{ session.duration }}</td>
          <td><form action="" method="POST">
            {% csrf_token %}
            {%if zz%}
            <input type="submit" value="Book" class="button">
            {%else%}
            <button class="button"><a href="{% url 'book-session' session.id doctordata.slug %}">check</a></button>
            {%endif%}
          </form></td>          
        </tr>
      {% endfor %}
        </tbody>
      </table>

      <h2>Vent Photos</h2>
      <div class="photo-container">
        {% for vent_photo in vent_photos %}
          <img src="{{ vent_photo.vent_img.url }}" alt="Vent Photo">
       {% endfor %}

      </div>

      <h2>Location</h2>
      <div class="map-container">
        <a href="{{doctordata.address}}" target="_blank">on Google Maps</button> </a>
      </div>
    </div>

    <script src="{% static '/js/nav-foot.js' %}"></script>
    <script src="{% static '/js/home.js' %}"></script>
    <script src="{% static '/js/product-card.js'%}"></script>
  </body>
  {% endblock content %}
</html>
