{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUP</title>
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
</head>
<body>
    <div class="body">
        <img src="{% static 'img/loader.gif' %}" alt="" class="loader">
        <div class="alert-box">
            <img src="{% static 'img/error.png' %}" alt="" class="alert-img">
            <p class="alert-msg">alert massage</p>
        </div>
        <div class="container">
            <a href="{% url 'home' %}"><img src="{% static 'img/Picture1-wh.png' %}" alt="" class="logo"></a>
            <form method="POST" action="">
                {% csrf_token %}
                {{form.username}}
                {{form.email}}
                {{form.password1}}
                {{form.password2}}
                <input type="tel" autocomplete="off" id="number" placeholder="number" name="number" required >
                <input type="checkbox" class="checkbox" id="terms-and-cond">
                <label for="terms-and-cond" style="display: inline-block;">I read all the <a href="#" >terms and condition</a> and i approve</label>
                <input type="submit"  class="submit-btn" value="create account">
            </form>
            {{msg}}
            <p class="link">already have one? <a href="{%url 'login'%}"> Log in here </a></p>
        </div>
    </div>
    <script src="{% static 'js/signup.js' %}"></script>
    <script>
        let form_fields = document.getElementsByTagName('input')
        form_fields[1].placeholder = 'username'
        form_fields[2].placeholder = 'email'
        form_fields[3].placeholder = 'password'
        form_fields[4].placeholder = 'confirm password'
    </script>
</body>
</html>


<!-- <input type="text" autocomplete="off" id="name" placeholder="name" name="username" required>
    <input type="email" autocomplete="off" id="email" placeholder="email@hot.com" name="email" required >
    <input type="password" autocomplete="off" id="password" placeholder="password" name="password" required >  -->